@import url("//fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic|Droid+Serif:400,400italic")

roboto = "Roboto", sans-serif;
droid = "Droid Serif", serif;

*
  margin 0
  padding 0

html
    position relative
    min-height 100%

body
  margin 0 0 55px /* bottom = footer height */
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  background #f4f4f4

footer, .push
  height 2em

img
  max-width 100%

/* * *
00 BASIC TYPOGRAPHY  -------------------------------------------------------
* * */

a
  color darken(#6B539C, 10%)
  
  &:hover, &:active
    text-decoration none

.btn
  font-family roboto
  font-size 14px
  padding 11px 20px
  font-weight 500
  text-transform uppercase
  letter-spacing 1px
  -webkit-transition background .2s, color .2s ease-in-out
  transition background .2s, color .2s ease-in-out
  
  &.full-width
    width 100%
    text-align left

  &.push-down
    margin-top 20px !important

  // default purple button
  &.btn-primary
    background-color darken(#a685bd, 55%)
    border 0

    &:hover
      background-color darken(#a685bd, 40%)
      -webkit-transition background .2s, color .2s ease-in-out
      transition background .2s, color .2s ease-in-out

h1,
h2,
h3,
h4,
h5,
h6
  font-family roboto

  &.clean
    margin 0 !important

h1
  color #333
  line-height 1.3
  font-size 32px
  font-weight 700

h3.section-header
  font-weight 300
  opacity .6
  font-size 20px
  // width 30%
  padding-bottom 15px
  margin 10px 0 25px
  border-bottom 2px solid #ddd
  
  &.push
    margin-top 60px

p
  line-height 1.75
  font-family roboto
  font-size 16px
  color #666
  margin-top 20px

ul
  line-height 1.75
  font-family roboto
  font-size 16px
  color #555
  margin 20px 0 0 40px

  li
    margin 10px 0

footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 55px

  p
    font-size 13px
    margin-bottom 10px

/* * *
01 HOME --------------------------------------------------------------------
* * */

.hero
  margin 0
  height 330px
  background-image url('../images/background.png')
  background-size cover
  background-position 100% 40%
  text-align center
  
  .screen
    width 100%
    height 100%
    z-index 1
    padding 30px 0 0
    background rgba(15,13,35,.05)
  
  .pod-logo
    width 130px
    height auto
  
  h1
    font-size 34px
    font-weight 300
    color white
    line-height 1
    margin 10px 0 5px
  
  .links 
    display block
    i
      color white
      margin-right 7px
      font-size 26px
      opacity .5
      
      &:hover
        opacity .7 
  
  h2
    color white
    line-height 1.4
    font-weight 300
    opacity .75
    margin 8px 0 3px 0
    font-size 20px
  
  p
    color darken(white, 25%)
  
  &.sub
    height 70px
    
    .links
      display inline
      position relative
      top 5px
      left 8px
    
    a
      color white
      text-decoration none
      &:hover
        text-decoration none
    
    img.logo
      width 50px
      margin-left 0
      margin-top 0
    
    h1
      font-size 24px
      font-weight 300
      color white
      line-height 1.4
      padding-top 0px
      margin 0 0 0 5px
      display inline-block
      position relative
      top 3px
    
    .screen
      padding-top 10px
  
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width 768px)
    height 270px
    text-align left
    .screen
      padding 55px 0 0
    .pod-logo
      width 100%
    h1
      font-size 38px
      margin 20px 0 5px
    h2
      font-size 30px
      margin-bottom 8px
      line-height 1
    &.sub
      img.logo
        margin-left 20px

  /* Medium devices (desktops, 992px and up) */
  @media screen and (min-width 992px)
    height 280px
    .screen
      padding 75px 0 0
    h1
      font-size 40px
      margin 10px 0 5px

  /* Large devices (large desktops, 1200px and up) */
  @media screen and (min-width 1200px)
    height 300px
    .screen
      padding 70px 0 0
    h1
      font-size 52px
      margin 17px 0 5px

.podcast-player
  margin-top 10px
  padding 0px 1px
  margin-bottom 8px
  margin-top 25px
  border-radius 3px
  width 100%
    
  button
    background transparent
    border 0
    border-radius 2px
    padding 5px
    font-size 13px
    -webkit-appearance none
    min-width 32px

  audio
    width 100%
    float left
    max-width 800px
    
    // everything over 768px (tablet screens)
    @media handheld, screen and (min-width: 768px)
      width 95%
    
    // everything over 992px (medium screens)
    @media handheld, screen and (min-width: 992px)
      width 94%
    
    // everything over 1200px (large screens)
    @media handheld, screen and (min-width: 1200px)
      width 95%

.spotlight-details  
  display block
  background #fff
  padding 0px 10px 20px
  
  .col-lg-8
    margin-top 30px

  h3
    margin 20px 0 10px
    font-size 28px
    font-weight 300

  p
    margin 0
    font-size 14px
    color #999
    
  .secondary-ctas
    color #888
    a
      color #333
      &:hover
        color #777
  
  /* Small devices (tablets, 768px and up) */
  @media screen and (min-width: 768px)   
    padding 0 40px 50px
    h3
      font-size 36px
    p
      font-size 20px
      line-height 1.5
      padding-right 20px
      
    .col-lg-8
      margin-top 60px
  
  .actions
    
    ul
      list-style-type none
      margin 60px 0 0 0
      padding 0
      border-top 10px solid #6B539C
      
      li
        border-bottom 1px solid #ddd
        padding 15px 23px
        margin 0
        letter-spacing .35
        
        &.play
          background #6B539C
          font-size 20px
          border none
          border-radius 1px
          padding 25px 20px
          color white
          i
            opacity .5
            margin 0 4px 0 5px     
          &:hover
            text-decoration none
        
        &.norm
            margin-top 20px
        
        a
          color darken(#6B539C, 10%)
          &:hover
            text-decoration none
            opacity .7
        
        &:last-child
          border none
          
  span.latest
    background darken(#eee, 2%)
    color #6B539C
    letter-spacing .35
    padding 8px 15px
    border-radius 1px
    font-size 16px
    margin 0 10px 10px 0
    display none
          
  span.date
    color darken(#b0b0b6, 20%)
    font-size 16px
  
  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px)
    .actions
      ul
        margin-top 0

    span.latest
      display inline-block

.main
  margin-bottom 80px
  margin-top 60px
  &.small
    margin-top 15px
  
  .load-more
    margin-bottom 10px
  
  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px)
    margin-bottom 150px
    
    .load-more
      margin-bottom 100px
  
  // everything over 992px (medium screens)
  @media handheld, screen and (min-width: 992px)
    .load-more
      margin-bottom 0
    
.single-episode
  display block
  background #fff
  padding 25px
  margin-bottom 20px
  
  span
    display block
  
  span.episode-title
    margin 5px 0 5px
    font-size 26px
    font-weight 300
    color #6B539C
    a
      color #6B539C
      &:hover
        opacity .7
        text-decoration none
  
  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px)
    padding 40px
    
    span.episode-title
      font-size 28px
  
  span.episode-description
    margin 0
    font-size 14px
    color #999
    
    a.listen
      padding-bottom 2px
      border-bottom 1px solid #eee
      color #6B539C
      
      &:hover, &:active
        text-decoration none
    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: 768px)
      font-size 16px
      line-height 1.5
      padding-right 20px
  span.episode-date
    color darken(#b0b0b6, 20%)
    font-size 16px
  
  .play
     text-align right
    
    i.fa-play
      font-size 90px
      opacity .1
      text-align right
      margin-top 10px

.sidebar
  margin-top 60px
  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px)
    margin-top 0
    
.host
  margin-top 40px
  margin-bottom 30px
  z-index 2500
  
  &:last-child
    margin-bottom 0
  
  span.name
    font-size 14px
    font-weight 800
    display block
    margin-top 3px
  
  p
    font-size 14px
    margin-top 0
    line-height 1.5

  img
    border-radius 50%
    width 100%

  i
    font-size 16px
    margin 5px 5px 0 0
    opacity .6

  .website
    display block
    font-size 12px
    margin-top 5px
    
  // everything over 768px (tablet screens)
  @media handheld, screen and (min-width: 768px)
    span.name
      margin-top 13px
    margin-bottom 0


#transcript-modal
  z-index 22222222
  .modal-body
    padding 20px 40px 40px
  .modal-header
    border none



/* * *
05 MISC --------------------------------------------------------------------
* * */

.center-block
  display block
  margin 0 auto
  text-align center



/*
 * BOOTSTRAP AUTO-WRAP COLUMN FIX
 *
 *
 */

/*  Tablet  */
@media handheld, screen and (min-width: 768px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear none

  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear left

/*  Medium Desktop  */
@media handheld, screen and (min-width: 992px)
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1)
    clear left

/*  Large Desktop  */
@media handheld, screen and (min-width:1200px)
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1)
    clear none

  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1)
    clear left
