<template name="featuredEpisode">
  <div class="spotlight-details">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          {{#if latest}}<span class="latest">Latest Episode</span>{{/if}}
          <span class="date">{{prettyDate}}</span>
          <h3>{{title}}</h3>
          <p>{{description}}</p>

          <div class="podcast-player">
            <button class="pcast-speed hidden-xs">1x</button>
            <audio id="audio-player" src="{{statelessDownload}}" controls>
              Your browser does not support the audio element.
            </audio>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 actions">
          <ul>
            <!-- TODO: correct links -->
            <li class="norm"><a href="#"><i class="fa fa-apple"></i>&nbsp; iTunes</a></li>
            <li><a href="#"><i class="fa fa-download"></i>&nbsp; Download Episode</a></li>
            <li><a href="#transcript-modal"><i class="fa fa-file-text-o"></i>&nbsp; View Notes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: hook up to "view notes" button -->
  <div class="modal fade" id="transcript-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>

        <div class="modal-body">
          <h2>{{title}}</h2>
          <p>{{#markdown}}{{showNotes}}{{/markdown}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
