<template name="home">

<!-- hero -->
<div class="hero">
  <div class="screen">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
              <img src="/images/crater-logo.png" class="pod-logo" alt="">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-7">
              <h1>Crater Podcast</h1>
              <h2>A weekly news podcast about Javascript.</h2>

              <!-- TODO: correct links -->
              <div class="links">
                <a href="https://twitter.com/craterpodcast" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://podcast.crater.io/feed" target="_blank"><i class="fa fa-rss"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- latest episode -->
{{> featuredEpisode featured}}

<!-- other recent episodes -->
<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <h3 class="section-header">Recent Episodes</h3>
      <!-- TODO: exclude the "featured" episode. right now it appears both places, 2x in a row. -->
      {{#each episodes}}
        <div class="single-episode">
          {{> episode}}
        </div>
      {{/each}}

      <div class="center-block load-more">
        <!-- TODO: this button -->
        <a href="#" class="btn btn-primary" data-action="load-more">Load More Episodes</a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 sidebar">
      <h3 class="section-header">About the Podcast</h3>
      <p>Crater Podcast is a weekly news podcast about all latest javascript news posted on <a href="https://crater.io" target="_blank">Crater</a>. Join hosts Josh Owens and Ben Strahan as they discuss the most interesting Crater.io posts of the week.</p>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 host">
          <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
              <img src="/images/josh.png" alt="">
            </div>
            <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8">
              <span class="name">Josh Owens</span>
              <p>
                <a href="http://github.com/queso" target="_blank"><i class="fa fa-github"></i>&nbsp; Find Josh on Github</a><br>
                <a href="https://twitter.com/joshowens" target="_blank"><i class="fa fa-twitter"></i>&nbsp; Follow on Twitter</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-12 col-lg-12 host">
          <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
              <img src="/images/benstr.jpeg" alt="">
            </div>
            <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8">
              <span class="name">Ben Strahan</span>
              <p>
                <a href="http://github.com/benstr" target="_blank"><i class="fa fa-github"></i>&nbsp; Find Ben on Github</a><br>
                <a href="https://twitter.com/_benstr" target="_blank"><i class="fa fa-twitter"></i>&nbsp; Follow on Twitter</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>

