<template name="single">

<!-- hero -->
<div class="hero sub">
  <div class="screen">
    <a href="{{pathFor 'home'}}"><img src="/images/crater-logo.png" class="logo" alt="">
    <h1>Crater Podcast</h1></a>

    <div class="links">
      <a href="#" target="_blank"><i class="fa fa-twitter"></i></a> 
      <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
    </div>
  </div>
</div>

<!-- single episode -->
<!-- TODO: change this data context to correct one -->
{{> featuredEpisode featured}}

<!-- episode notes -->
<div class="container main small">
  <div class="row">
    <div class="col-md-8">
      <!-- TODO: NOTES GO HERE -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat porro, rem neque repellat quia reiciendis tempore ullam laborum vitae excepturi, tempora reprehenderit eveniet quos enim adipisci ipsam commodi, quod dolorum.</p>

      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil repellat distinctio molestiae expedita</li>
        <li>Distinctio animi et nam earum vero explicabo impedit obcaecati ipsa neque. Temporibus, quasi.</li>
      </ul>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum animi unde, molestiae quidem blanditiis sunt eligendi assumenda eius fugit fugiat deleniti illum, asperiores voluptatem deserunt neque. Quam eaque, est distinctio!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta eligendi in ipsa illo non perspiciatis minus modi nisi dolor minima tenetur voluptas nemo veniam, autem aspernatur, libero mollitia velit laborum.</p>
    </div>
  </div>
</div>

</template>

